.round{
        display: flex;
        justify-content: center;
        border: 2px solid black;
        text-decoration: none;
        }
.roundin{
              justify-content: center;
              border: 2px solid black;
              height: 200px;
              width: 200px;
              border-radius: 100px;
              text-decoration: none;
        }
.category-item {
        text-align: center;
          }
.category-item img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #40e908;
}
.category-caption {
        font-size: 20px;
        margin-top: 10px;
        color: green;
        text-transform: capitalize;
        }